<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>labelid</key>
		<integer>0</integer>
		<key>labelname</key>
		<string>热门</string>
		<key>labeltype</key>
		<integer>1</integer>
		<key>labelurl</key>
		<string></string>
		<key>parentid</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>labelid</key>
		<integer>0</integer>
		<key>labelname</key>
		<string>活动</string>
		<key>labeltype</key>
		<integer>2</integer>
		<key>labelurl</key>
		<string></string>
		<key>parentid</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>labelid</key>
		<integer>2</integer>
		<key>labelname</key>
		<string>浪漫</string>
		<key>labeltype</key>
		<integer>1</integer>
		<key>labelurl</key>
		<string></string>
		<key>parentid</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>labelid</key>
		<integer>3</integer>
		<key>labelname</key>
		<string>旅行</string>
		<key>labeltype</key>
		<integer>1</integer>
		<key>labelurl</key>
		<string></string>
		<key>parentid</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>labelid</key>
		<integer>4</integer>
		<key>labelname</key>
		<string>节日</string>
		<key>labeltype</key>
		<integer>1</integer>
		<key>labelurl</key>
		<string></string>
		<key>parentid</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>labelid</key>
		<integer>5</integer>
		<key>labelname</key>
		<string>定制</string>
		<key>labeltype</key>
		<integer>3</integer>
		<key>labelurl</key>
		<string></string>
		<key>parentid</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>labelid</key>
		<integer>6</integer>
		<key>labelname</key>
		<string>美食</string>
		<key>labeltype</key>
		<integer>1</integer>
		<key>labelurl</key>
		<string></string>
		<key>parentid</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>labelid</key>
		<integer>7</integer>
		<key>labelname</key>
		<string>记忆</string>
		<key>labeltype</key>
		<integer>1</integer>
		<key>labelurl</key>
		<string></string>
		<key>parentid</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>labelid</key>
		<integer>8</integer>
		<key>labelname</key>
		<string>派对</string>
		<key>labeltype</key>
		<integer>1</integer>
		<key>labelurl</key>
		<string></string>
		<key>parentid</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>labelid</key>
		<integer>9</integer>
		<key>labelname</key>
		<string>趣味</string>
		<key>labeltype</key>
		<integer>1</integer>
		<key>labelurl</key>
		<string></string>
		<key>parentid</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>labelid</key>
		<integer>10</integer>
		<key>labelname</key>
		<string>纪实</string>
		<key>labeltype</key>
		<integer>1</integer>
		<key>labelurl</key>
		<string></string>
		<key>parentid</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>labelid</key>
		<integer>11</integer>
		<key>labelname</key>
		<string>运动</string>
		<key>labeltype</key>
		<integer>1</integer>
		<key>labelurl</key>
		<string></string>
		<key>parentid</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>labelid</key>
		<integer>12</integer>
		<key>labelname</key>
		<string>热门</string>
		<key>labeltype</key>
		<integer>1</integer>
		<key>labelurl</key>
		<string></string>
		<key>parentid</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
